SUPABASE_URL=https://hjnxgcjrgdfydtgmzxzs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhqbnhnY2pyZ2RmeWR0Z216eHpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMDQwNTcsImV4cCI6MjA5NDc4MDA1N30.YJLb3X7IRclZ-MgsaCJJA8IhOIiEmYqj0IUwNFk45Ho
PORT=3000
GEMINI_API_KEY=AIzaSyDN1YB27LJQocMX0OCDLzT9LU2gKxCPcgc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhqbnhnY2pyZ2RmeWR0Z216eHpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTIwNDA1NywiZXhwIjoyMDk0NzgwMDU3fQ.ij76jH9xWX6nKwWQ0geGFpgJQ8VdwyNI-nsrqzYHscQ